@font-face {
    font-family: Inter;
    font-display: swap;
    src: url('src/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Grotesk';
    font-display: swap;
    src: url('/src/assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}